
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
</head>
<body>
    @Html.Partial("_Navbar")
    <h1 style="text-align:center;color:crimson">About us</h1>
    <div style="display:flex;justify-content;align-items:center;text-align:center;width:700px;margin-left:auto;margin-right:auto;"> 
        <p style="margin-bottom:220px">

            Welcome to our CRM platform, where we're committed to revolutionizing how businesses connect with their customers. With a blend of cutting-edge technology and personalized service, we empower organizations to cultivate lasting relationships and drive growth. Our team is dedicated to delivering innovative solutions tailored to the unique needs of each client. At we're not just a software provider – we're your partner in achieving customer-centric success. Join us and discover the difference our CRM platform can make for your business.
        </p>
        
    </div>
    @Html.Partial("_Footer")
</body>
</html>
