
@{

    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<link href="~/Content/Custom/Index.css"rel="stylesheet" >
@Html.Partial("_Navbar")

<div class="d-flex justify-content-center flex-column align-items-center">

    <h1>Convert your visitors to payble customer</h1>
    <div>
        <button class="btn btn-light"> Learn More</button>
        <button class="btn btn-primary"> <a href="/Account/Login">Get Start</a></button>
    </div>


</div>
<div class="d-flex justify-content-center align-items-center mt-5">
    <div style="text-align:center;color:#2f1c6a;">
        <p>
            Welcome to our cutting-edge CRM website, where innovation meets efficiency to revolutionize your business operations! Our CRM platform is designed with your success in mind, offering intuitive features tailored to streamline customer relationship management. From seamless lead tracking to personalized client interactions, our website empowers businesses of all sizes to nurture valuable relationships and drive sustainable growth. With user-friendly navigation and customizable dashboards, managing your customer data has never been easier. Say goodbye to scattered information and hello to organized insights that propel your business forward. Join the countless satisfied clients who have experienced the transformative power of our CRM website. Elevate your customer relationships today with our unparalleled platform.
        </p>
    </div>
    
    <div><img src="~/Images/25559373_7098132(1).jpg" height="500" width="800"></div>

</div>

<h1 style=" text-align:center;color:royalblue;">Our Features</h1>

<div style="display:flex ;align-items:center; justify-content:space-around">
    <div class=" Mycard">
        <div class="card-body">
            <h5 class="card-title">Contact Managemrnt</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Customer Comunnication</h6>
            <p class="card-text">
                Centralised database to store and manage customer contact information.
                provide easy access to customer communication history end intraction
            </p>
        </div>


    </div>
    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title">Lead Management</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Tracking and Managing</h6>
            <P class="card-text" >
                Automates lead assignment and follow-up process.Helps priortize leads based on pre-defined criteria or lead score.
            </P>
        </div>

    </div>
    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title ">Sale pipeline</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Visual Representation of pipeline</h6>
            <p class="card-text">Tracks deals as they progress through each stage of the pipeline.provide insides into potential revniew and forecasting</p>

        </div>

    </div>

    <div class="Mycard">
    <div class="card-body">
        <h5 class="card-title">Email intigration</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Custom email</h6>
        <p class="card-text">Supports email automation for personalised communiaction at scale.
        Enable sending and receiving emails direct with in the CRM interface</p>
    </div>
    </div>
    </div>


<div style="display:flex;justify-content:space-around;align-items:center;margin-top:20px">
    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title">Reporting and analytics</h5>
            <p class="card-text">
                Generates customizable reports and dashboards to track key performance indicator.It helps in making data driven discussion to optimise process.
            </p>
        </div>
    </div>

    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title">Mobile responsive</h5>
            <p class="card-text">
                It provides mobile app or responsive web interface for access on the go.It allow sales to manage leads update information and track activities.
            </p>
        </div>
    </div>

    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title">Socialmedia integration</h5>
            <p class="card-text">
                It integrates with social media channel for lead generation,customer engagement and brand monitoring.

            </p>
        </div>

    </div>

    <div class="Mycard">
        <div class="card-body">
            <h5 class="card-title">Security and permission</h5>
            <p class="card-text">It allows custmazation user permission to control access to data end functionlised.
                

            </p>
        </div>
        </div>

    </div>
@Html.Partial("_Footer")



