
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Setting</title>
    <style>
        a{
            text-decoration:none;

        }
    </style>
</head>
<body>
    @Html.Partial("_AppNavBar")
    <div style="display:flex;justify-content:center;align-items:center;flex-direction:column">
        <h1>Settings</h1>
        <a href="#">Password change</a>
        <a href="#">Password reset</a>
        <a href="#">Help</a>
        <a href="#">FAQ</a>
        <a href="#">Logout</a>
    </div>
</body>
</html>
